<nav class="navbar sticky-top">
  <div class="container-fluid">
    <div class="col-4">
      <a class="navbar-brand">
        <i class="bi bi-heart-pulse-fill" style="color: #e5283c"></i>&nbsp;
        <span style="color: #e5283c">MA</span> CRM</a
      >
    </div>
    <div class="col-4">
      <form class="d-flex">
        <div class="input-group show">
          <input
            class="form-control dropdown-toggle searchInput me-2"
            data-id="agent"
            type="text"
            placeholder="Search prospects"
            autocomplete="off"
            [formControl]="searchField"
          />
          <div
            [ngClass]="{ 'show': searchResults.length > 0 }"
            class="dropdown-menu"
            style="
              margin-right: 30px;
              margin-top: 45px;
              width: 350px;
              position: absolute;
              will-change: transform;
            "
          >
            <div
              class="searchReturnItem name-find"
              *ngFor="let result of searchResults"
            >
              <a
                (click)="navigateToDetail(result.ContactID)"
                style="
                  color: #222222 !important;
                  font-size: 10pt;
                  padding: 20px 0px;
                  text-decoration: none !important;
                  cursor: pointer;
                "
                class="px-3 cp"
              >
                <i class="far fa-user-circle mr-5"></i>&nbsp;&nbsp;{{
                result.FirstName }} {{ result.LastName }}
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
          "
        >
          <div
            style="
              width: 39px;
              height: 39px;
              /* UI Properties */
              background: #246fc214 0% 0% no-repeat padding-box;
              border-radius: 24px;
              display: flex;
              flex-flow: row;
              justify-content: center;
              align-items: center;
            "
          >
            <span
              style="
                font: normal normal normal 14px/19px Roboto;
                letter-spacing: 0px;
                color: #114d90;
                font-size: 8px;
              "
              >{{initials}}</span
            >
          </div>
          &nbsp; &nbsp;
          <div
            style="
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: flex-start;
            "
          >
            <span
              style="
                display: block;
                font: normal normal normal 14px/19px Roboto;
                letter-spacing: 0px;
                color: #0f2e4d;
              "
            >
              {{completeName}}</span
            >
            <span
              style="
                display: block;
                font: normal normal normal 12px/16px Roboto;
                letter-spacing: 0px;
                color: #8090a1;
              "
            >
              {{userName}}</span
            >
          </div>
        </button>
        <ul class="dropdown-menu" style="left: -100px">
          <li>
            <a class="dropdown-item btn" [routerLink]="['/private/settings']"
              ><i class="bi bi-gear text-primary"></i>&nbsp;&nbsp; Settings</a
            >
          </li>
          <li>
            <a class="dropdown-item btn" (click)="logout()"
              ><i class="bi bi-box-arrow-left text-danger"></i>&nbsp;&nbsp; Log
              out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="menu-bar container-fluid">
  <div>
    <button
      class="btn btn-link custom-links"
      [routerLink]="['/private/dashboard']"
      routerLinkActive="active"
    >
      <i class="bi bi-pie-chart"></i> Dashboard
    </button>
    <button
      class="btn btn-link custom-links"
      [routerLink]="['/private/summary']"
      routerLinkActive="active"
    >
      <i class="bi bi-card-list"></i> Summary
    </button>
    <button
      class="btn btn-link custom-links"
      [routerLink]="['/private/analytics']"
      routerLinkActive="active"
    >
      <i class="bi bi-bar-chart"></i> Analytics
    </button>
  </div>
  <button
    class="btn btn-link custom-links"
    data-bs-toggle="modal"
    data-bs-target="#exampleModalNewProspect"
    style="
      color: #246fc2 !important;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <span
      style="
        width: 18px;
        height: 18px;
        /* UI Properties */
        background: #f2f6fc 0% 0% no-repeat padding-box;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
      ><i class="bi bi-plus" style="color: #246fc2"></i></span
    >&nbsp;&nbsp; New Prospect
  </button>
</div>
<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>

<div
  class="modal fade"
  id="exampleModalNewProspect"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col"><h5 class="modal-title">New prospect</h5></div>
          <div class="col d-flex justify-content-end">
            <a (click)="closeModalProspect()" class="btn btn-link"
              ><i class="bi bi-x-lg"></i
            ></a>
          </div>
        </div>
        <br />
        <form [formGroup]="myFormCreate" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                />
                <div
                  *ngIf="isInvalidAndTouched('firstName')"
                  class="text-danger"
                >
                  First Name is required
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                />
                <div
                  *ngIf="isInvalidAndTouched('lastName')"
                  class="text-danger"
                >
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phoneNumber"
                  appPhoneNumberMask
                  maxlength="14"
                />
                <div
                  *ngIf="isInvalidAndTouched('phoneNumber')"
                  class="text-danger"
                >
                  Invalid Phone Number
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
                <div *ngIf="isInvalidAndTouched('email')" class="text-danger">
                  Invalid Email Address
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="row d-flex justify-content-center">
            <div class="col text-center">
              <button
                type="submit"
                class="btn"
                style="background-color: #e5283c; color: #fff"
              >
                <div
                  class="spinner-border text-light"
                  role="status"
                  style="height: 20px; width: 20px"
                  *ngIf="isLoading"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div *ngIf="!isLoading">Save data</div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="footer mt-auto py-3 bg-white text-center fixed-bottom">
  <div class="container">
    <span class="text-muted">
      Copyright © <span id="year">2024</span>
      <a href="javascript:void(0);" class="text-dark fw-semibold">
        Datavista Analytics</a
      >. All rights reserved
    </span>
  </div>
</footer> -->
