.container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  height: auto;
  width: 428px;
  border-radius: 8px;
  padding: 40px 43px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


// ... existing styles ...

