<div class="container-page">
  <div
    class="container"
    style="
      background-color: white;
      height: auto;
      width: 428px;
      border-radius: 8px;
      padding: 40px 43px;
    "
  >
    <div class="row">
      <div class="col-3">
        <div class="progress-circle-container">
          <svg class="progress-circle" viewBox="0 0 36 36">
            <!-- Fondo del círculo (inactivo) -->
            <path
              class="progress-bg"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <!-- Parte activa del círculo (progreso) -->
            <path
              class="progress-bar"
              [attr.stroke-dasharray]="progress + ', 100'"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <!-- Texto dentro del círculo -->
            <text x="18" y="20.35" class="progress-text" text-anchor="middle">
              {{currentValue}}/{{maxValue}}
            </text>
          </svg>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <span
              style="
                text-align: left;
                font: normal normal bold 20px/26px Roboto;
                letter-spacing: 0px;
                color: #061f3a;
              "
              >Register a new Account</span
            >
          </div>
          <div class="col-12">
            <span
              style="
                text-align: left;
                font: normal normal normal 14px/19px Roboto;
                letter-spacing: 0px;
                color: #36495f;
              "
              >Complete the fields below to create your. It only takes a few
              minutes to get started.</span
            >
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="stepsForm === 1">
        <div class="row">
          <div class="col">
            <label>First Name</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="FirstName"
            />
            <div *ngIf="isInvalidAndTouched('FirstName')" class="text-danger">
              First name is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label>Last Name</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="LastName"
            />
            <div *ngIf="isInvalidAndTouched('LastName')" class="text-danger">
              Last name is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label>Email</label>
            <input
              type="email"
              name=""
              id=""
              class="form-control"
              formControlName="UserName"
            />
            <div *ngIf="isInvalidAndTouched('UserName')" class="text-danger">
              Email/username is required
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="d-grid gap-2">
          <a
            class="btn"
            style="background-color: #e5283c; color: white"
            type="button"
            (click)="changeStep(2)"
          >
            Next
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="stepsForm === 2">
        <div class="row">
          <div class="col">
            <label>Address</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="Address"
            />
            <div *ngIf="isInvalidAndTouched('Address')" class="text-danger">
              Address is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label>City</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="City"
            />
            <div *ngIf="isInvalidAndTouched('City')" class="text-danger">
              City is required
            </div>
          </div>
          <div class="col">
            <label>State</label>
            <!-- <select name="" id="" class="form-select" formControlName="StateID">
              <option selected disabled value="">Select one...</option>
              <option
                *ngFor="let state of profileState"
                [value]="state.StateID"
              >
                {{state.StateAbbreviation}}
              </option>
            </select> -->
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="StateID"
            >
              <option selected disabled value="">Select one...</option>
              <option
                *ngFor="let state of profileState"
                [value]="state.StateID"
              >
                {{state.StateAbbreviation}}
              </option>
            </select>
            <div *ngIf="isInvalidAndTouched('StateID')" class="text-danger">
              State is required
            </div>
          </div>
          <div class="col">
            <label>Zip</label>
            <input
              type="number"
              name=""
              id=""
              class="form-control"
              formControlName="Zip"
              (input)="validateMaxLength($event)"
            />
            <div *ngIf="isInvalidAndTouched('Zip')" class="text-danger">
              Zip code is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label>Phone number</label>
            <input
              type="tel"
              name=""
              id=""
              class="form-control"
              formControlName="PhoneNumber"
              appPhoneNumberMask
            />
            <div *ngIf="isInvalidAndTouched('PhoneNumber')" class="text-danger">
              Phone number is required
            </div>
          </div>
        </div>
        <br />

        <br />
        <div class="row">
          <div class="col-4">
            <button
              class="btn w-100"
              style="background-color: #e5e8eb; color: black"
              type="button"
              (click)="changeStep(1)"
            >
              Back
            </button>
          </div>
          <div class="col">
            <button
              class="btn w-100"
              style="background-color: #e5283c; color: white"
              type="button"
              (click)="changeStep(3)"
            >
              Next
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="stepsForm === 3">
        <div class="row">
          <div class="col">
            <label>National Producer Number (NPN)</label>
            <input
              type="number"
              name=""
              id=""
              class="form-control"
              formControlName="NationalProducerNumber"
            />
            <div
              *ngIf="isInvalidAndTouched('NationalProducerNumber')"
              class="text-danger"
            >
              NPN is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label>Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                formControlName="Userpassword"
                id="passwordInput"
                style="border-right: none"
              />
              <button
                style="
                  border-top: 1px solid #dee2e6;
                  border-bottom: 1px solid #dee2e6;
                  border-right: 1px solid #dee2e6;
                "
                class="btn btn-link"
                type="button"
                id="togglePassword"
                (click)="togglePasswordVisibility()"
              >
                <i
                  class="bi bi-eye-fill"
                  style="color: #8090a1"
                  id="toggleEye"
                ></i>
              </button>
            </div>

            <!-- Message for 'Password is required' -->
            <div class="d-flex align-items-center mt-2" style="gap: 10px">
              <div
                [ngClass]="{
                'bg-success': profileForm.get('Userpassword')?.valid || !profileForm.get('Userpassword')?.hasError('required'),
                'bg-custom-error': profileForm.get('Userpassword')?.hasError('required')
              }"
                style="
                  width: 9px;
                  height: 9px;
                  /* UI Properties */

                  border-radius: 99px;
                "
              ></div>
              <span
                [ngClass]="{
                'text-black': profileForm.get('Userpassword')?.valid || !profileForm.get('Userpassword')?.hasError('required'),
                'text-custom-muted': profileForm.get('Userpassword')?.hasError('required')
              }"
                >Password is required</span
              >
            </div>

            <!-- Message for 'Minimum 8 characters' -->
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                [ngClass]="{
  'bg-success': profileForm.get('Userpassword')?.hasError('minlength') === false && profileForm.get('Userpassword')?.value,
  'bg-custom-error': profileForm.get('Userpassword')?.hasError('minlength') || !profileForm.get('Userpassword')?.value
}"
                style="
                  width: 9px;
                  height: 9px;
                  /* UI Properties */

                  border-radius: 99px;
                "
              ></div>
              <span
                [ngClass]="{
                'text-black': profileForm.get('Userpassword')?.hasError('minlength') === false && profileForm.get('Userpassword')?.value,
                'text-custom-muted': profileForm.get('Userpassword')?.hasError('minlength') || !profileForm.get('Userpassword')?.value
              }"
                >Minimum 8 characters</span
              >
            </div>

            <!-- Message for 'At least 1 uppercase letter and 1 number' -->
            <div class="d-flex align-items-center" style="gap: 10px">
              <div
                [ngClass]="{
              'bg-success': profileForm.get('Userpassword')?.hasError('pattern') === false && profileForm.get('Userpassword')?.value,
              'bg-custom-error': profileForm.get('Userpassword')?.hasError('pattern') || !profileForm.get('Userpassword')?.value
            }"
                style="
                  width: 9px;
                  height: 9px;
                  /* UI Properties */

                  border-radius: 99px;
                "
              ></div>
              <span
                [ngClass]="{
                'text-black': profileForm.get('Userpassword')?.hasError('pattern') === false && profileForm.get('Userpassword')?.value,
                'text-custom-muted': profileForm.get('Userpassword')?.hasError('pattern') || !profileForm.get('Userpassword')?.value
              }"
                >At least one uppercase letter and one number</span
              >
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col">
            <label>Confirm Password</label>

            <div class="input-group">
              <input
                type="password"
                class="form-control"
                formControlName="ConfirmPassword"
                id="passwordReInput"
                style="border-right: none"
              />
              <button
                style="
                  border-top: 1px solid #dee2e6;
                  border-bottom: 1px solid #dee2e6;
                  border-right: 1px solid #dee2e6;
                "
                class="btn btn-link"
                type="button"
                id="togglePasswordRe"
                (click)="toggleRePasswordVisibility()"
              >
                <i
                  class="bi bi-eye-fill"
                  style="color: #8090a1"
                  id="toggleEyeRe"
                ></i>
              </button>
            </div>
            <div
              *ngIf="profileForm.hasError('mismatch') && profileForm.get('ConfirmPassword')?.touched"
              class="text-danger"
            >
              Passwords do not match
            </div>
            <div
              *ngIf="isInvalidAndTouched('ConfirmPassword')"
              class="text-danger"
            >
              Confirm Password is required
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-4">
            <button
              class="btn w-100"
              style="background-color: #e5e8eb; color: black"
              type="button"
              (click)="changeStep(2)"
            >
              Back
            </button>
          </div>

          <div class="col">
            <button
              class="btn w-100"
              style="background-color: #e5283c; color: white"
              type="submit"
            >
              <div
                class="spinner-border text-light"
                role="status"
                style="height: 20px; width: 20px"
                *ngIf="isLoading"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
              <div *ngIf="!isLoading">Register</div>
            </button>
          </div>
        </div>
      </ng-container>

      <br />
      <div class="row">
        <div class="col text-center">
          <h6>
            Already have an account?
            <small
              ><a class="text-primary" [routerLink]="['/public/sign-in']"
                >Sign In</a
              ></small
            >
          </h6>
        </div>
      </div>
    </form>
  </div>
</div>
